*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serifz';
}

body {
    color: #ededed;
}

/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo { /*portfolio*/
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a { /*home,academics,achievements,contact*/
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: rgb(54, 144, 209);
}

/*Home*/
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content h2 { /*i'm*/
    font-size: 45px;
    font-weight: 700;
}
.home-content h1 { /*Hello*/
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
#name { /*vatsal chandrani*/
    font-size: 63px;
    font-weight: 700;
    margin: -3px 0;    
}
.home-icon a { /*icons*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(54, 144, 209);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(54, 144, 209);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-icon a:hover {
    background: rgb(54, 144, 209);;
    color: #081b29;
    box-shadow: 0 0 20px rgb(54, 144, 209);
}
.btn-box { /*More About Me*/
    display: inline-flex;
    padding: 12px 20px;
    background: rgb(54, 144, 209);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover {
    box-shadow: 0 0 5px rgb(54, 144, 209), 
    0 0 5px rgb(54, 144, 209), 0 0 5px rgb(54, 144, 209), 
    0 0 5px rgb(54, 144, 209), 0 0 5px rgb(54, 144, 209);   
}
.image{ /*photo*/
    height: 20rem;
    width: 20em;
    display: flex;
    justify-content: center;  
    border-radius: 50%;
    background-image: url(image.jpg);
    background-size: cover;
    border: 3.5px solid  rgb(54, 144, 209);
}
.image:hover {
    box-shadow: 0 0 5px rgb(54, 144, 209), 
    0 0 5px rgb(54, 144, 209), 0 0 5px rgb(54, 144, 209), 
    0 0 5px rgb(54, 144, 209), 0 0 5px rgb(54, 144, 209);   
}

/*About*/
/* .imageINabout {

} */
