body{
    /* background-image: url(background_img.jpeg); */
    background-color: black;
    background-size: cover;
    color: whitesmoke;
    margin: 2rem 1rem 1rem 1rem;
    position: sticky;
}
a{
    text-decoration: none;
    color: unset;
}
.full-navbar{
    position: fixed;
    top: 2rem;
    padding-left: 25rem;
}
.navbar{
    display: flex;
    justify-content: end;
    font-size: 1.3rem;
    font-weight: bold;
}
#in-nav{
    margin: 0 1.5rem 0 1.5rem;
    cursor: pointer;
}
#in-nav:hover{
    color:  rgb(22, 123, 145);
}
/* .scroll{
    margin-right: 5rem;
    width: 0; 
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid rgb(22, 123, 145);
    border-radius: 50%;
    animation: spin 1s ease-in-out  0s infinite normal;
} */


/* index page */
.pic{
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
}
#hello{
    font-size: 5rem;
    font-weight: bolder;
    color: rgb(22, 123, 145);
}
#im{
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
#vc{
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
}
.image{
    height: 18rem;
    width: 18em;
    display: flex;
    justify-content: center;  
    border-radius: 50%;
    background-image: url(image.jpg);
    background-size: cover;
    border: 3.5px solid  rgb(22, 123, 145);
}


/* academics page */
.aca-container{
    margin-top: 8rem;
    padding-top: 2rem;
}
.aca-content{
    display: flex;
    justify-content: space-evenly;
}
.degree{
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
}
.description{
    font-size: 1.1rem;
}